.channelbox{    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}
.clist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 5px;
    height: fit-content;
}
.addc{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.cform{
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px 5px;
    height: fit-content;
}
.chanin{
    width : 500px;
    margin-right: 10px;
}
.chprice{
    width: fit-content;
    padding: 5px 10px;
    margin: 5px 0px;
    background-color: white;
    border-radius: 5px;
}